<div class="footer">
    <div class="wrapper">
        <div class="vic-logo-news">
            <div class="logo"><a href="index.html">維克數位創意</a>
            </div>
            <div class="vic-news">
                <p>維克數位創意有限公司 / 臺北市中正區八德路一段5號7樓<br>TEL +886-2-2321‧2277 / FAX +886-2-2321‧7373</p>
            </div>
        </div>
        <div class="menu menu-copy">
            <div class="pages">
                <div><a href="#">服務項目</a></div>
                <div><a href="#">執行案例</a></div>
                <div><a href="#">關於維克</a></div>
                <div><a href="#">聯絡我們</a></div>
            </div>
            <p>Copyright © 2018 wipcafe . All rights reserved</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>