<div class="header">
    <div class="wrapper">
        <div class="logo"><a href="index.html">維克數位創意</a>
        </div>
        <nav class="menu">
            <div class="language w-language">
                <div><a href="#">中</a></div>
                <div><a href="#">EN</a></div>
            </div>
            <div class="pages">
                <div class="serice-lock"><a href="./service.html">服務項目</a></div>
                <div class="works-lock"><a href="./works.html">執行案例</a></div>
                <div class="about-lock"><a href="./about.html">關於維克</a></div>
                <div class="contact-lock"><a href="./contact.html">聯絡我們</a></div>
            </div>
        </nav>
    </div>
</div>