*{
    box-sizing: border-box;
}
.wrap{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
/* .item-box{
    width: 175px;
    margin-right: 30px;
    padding: 10px;
    border: 1px solid black;
} */
/* 4列(100 - 2間距*3空格)/4列 */
.item-box{
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid black;
}
.item-box img{
    width: 100%;
}
.item-box:nth-child(4n){
    margin-right: 0px;
}