h1{
color: blue;
font-size: 24px;
}

.style1 h2{
	font-size: 20px;
	color: red;
}
.style1 h2 span{
	font-size: 24px;
	color: blue;
}
.style1 p{
	font-size: 14px;
	line-height: 1.5;
}

.style2 h2{
	font-size: 20px;
	color: blue;
}
.style2 span{
	font-size: 24px;
	color: red;
}
.style2 p{
	font-size: 14px;
	line-height: 1.5;
}


.box1{
border: 10px solid black;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 30px;
}

.box2{
border: 10px solid black;
padding-left: 30px;
padding-right: 30px;
}

















