
.pure-form input[type="password"],
.pure-form input[type="text"],

.pure-form textarea {
    width:200px;
    height: 25px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 5px #ddd;
    border-radius: 4px;
    padding-left:10px; 
}


.pure-button
{
    background: blue;
    color: white;
    padding: 5px 15px;
    border-radius: 5px; 
}
.pure-button:hover{
    background: rgb(0, 0, 155); 
}

